body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 45px;
}
.purpale-color{
    color: #EC6A96;

}
.flexible-container{
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;

}

.top-banner{
background-image: url(images/topbanner.jpg);
background-repeat: no-repeat;
}
.welcome-image{
    width: 45%;
    padding-left: 50px;
}

.welcome-content{
    width: 55%;
    padding: 20px 20px 20px 80px;
    text-align: justify;

    
}

a:link, a:visited {
    background-image: linear-gradient(#Ec6A96, #D297B8) ;
    color: white;
    padding: 10px;
    text-align: center;   
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    height: 20px;
    width: 150px;
  }

  .sec2-image{
    width: 45%;
    padding-left: 20px;
    align-items: initial;
  }
  .sec2-content{
    width: 55%;
    padding: 20px 60px 20px 10px;
    text-align: justify;
  }

  .sec2{
    background-image: url(images/secndackground.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
  }
  .experience-items{
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      padding: 15px;
      box-shadow: 10px 10px 40px gray;
      border-radius: 10px;
      text-align: justify;
      border-left: 10px solid gray;
  }


  .experiences-area{
    background-image: url(images/experiencearea.png);
    background-repeat: no-repeat;
    

  }
  #web-developer-experience{
    border-left: 7px solid;
    border-image: linear-gradient(#4e15eb, #99c9ff);
    border-image-slice:1;
    border-radius: 10px;
   
  }
  #full-developer-experience{
    border-left: 7px solid;
    border-image: linear-gradient(#c2357B, #ebd5d1, #ff3194);
    border-image-slice:1;
    border-radius: 10px;
   
  }
  .foter{
      text-align: center;
  }